@charset "UTF-8";

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

.btn-label {
	position: relative;left: -12px;display: inline-block;
	padding: 6px 12px;
	background: rgba(0,0,0,0.15);
	border-radius: 3px 0 0 3px;
	}

.btn-labeled {
	padding-top: 0;
	padding-bottom: 0;
	}
	
.btn { 
	margin-bottom:10px;
	 }
	 
#buttons{
	text-align: center;
}