@charset "UTF-8";
.profile-img-card {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#fileupload {
  display: none;
}

#fileupload2 {
  display: none;
}

#skillpicker{
	overflow: hidden;
}

.uploadfile{
  margin-left: -5px;
  font-family: Arial;
  font-size: 1rem;
  padding: 8px 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #265986;  
  color: #ffffff;
  cursor: pointer;
  background-color: #265986;
  outline: none;
  overflow: hidden;
}

.fileinput{ 
  margin-left: -5px;
  width: 20rem;
  font-family: Arial;
  font-size: 1rem;
  padding: 8px 8px;
  border: 2px solid #265986;  
  color: #000000;
  background-color: #ffffff;
  overflow: hidden;
}

span[role=button] { 
  font-family: Arial;
  font-size: 1rem;
  padding: 9px;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #265986;  
  color: #ffffff;
  cursor: pointer;
  background-color: #265986;
  outline: none;
  overflow: hidden;
}


span[role=button]:hover,
span[role=button]:focus {
  box-shadow: 0 0 5px #595959;
  background-color: #183a57;
  border-color: #265986;
  outline: 2px solid transparent;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.fileinput:focus {
  box-shadow: 0 0 5px #595959;
  border-color: #265986;
  outline: 2px solid transparent;
}