@charset "UTF-8";

.search-sec{
	top: -30px;
	left: 50%;
	position:relative;
    background: #222222;padding: 1rem;
}

.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}


.search {
  width: 500px;
  margin:0 auto;
  text-align: center;
}

