@charset "UTF-8";

.profile-img-card {
    width: 220px;
    height: 220px;
    margin: 0 auto 0px;
    border-radius: 8px;
    display: block;
}

h4{
	font-weight:bold;
}

.container .work{
    text-align:left;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.container .main{
    border-left:3px solid #ded4da;
}

.container p{
	text-align:justify;
    font-size:15px;
    font-style:italic;
    line-height: 200%;
}

u{
	font-size:15px;
	font-style:italic;
}

caption{
	text-align:justify;
    font-size:15px;
    font-style:italic;
    color: black;
}