@charset "UTF-8";

body {
	margin: 0;
	background: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	-webkit-animation: fadein 1s;
	color: black;
}

@
-webkit-keyframes fadein {from { opacity:0.0;
	-webkit-transform: rotateY(345deg);
}

to {
	opacity: 1.0;
	-webkit-transform: rotateY(360deg);
}

}
.container {
	width: 100%;
	margin: 0 auto;
	position: fixed;
	background: #6891A2;
}

.left-side {
	margin-left: 0;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

@
-webkit-keyframes in {from { -webkit-transform:rotate(0deg);
	
}

to {
	-webkit-transform: rotate(360deg);
}

}
nav {
	float: left;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;
	padding-top: 15px;
	position: relative;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

nav a:hover {
	color: #caca40;
}

nav a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #caca40;
	position: absolute;
	top: 0;
	width: 0%;
	transition: all ease-in-out 250ms;
}

nav a:hover::before {
	width: 100%;
}

.btn {
	background-color: white;
	border: 2px solid #6891A2;
	border-radius: 8px;
	color: black;
	padding: 4px 12px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	margin: auto;
}

.btn:hover {
	background-color: #6891A2;
	color: white;
}

.deletebtn  {
	background-color: #ff0000;
	border: 1px solid white;
	border-radius: 50%;
	color: white;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	/*display: block;*/
	font-size: 14px;
	margin: 2px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	margin: auto;
}

.deletebtn:hover {
	background-color: white;
	border: 1px solid #ff0000;
	color: #ff0000;
}

.datefieldform {
	background-color: white;
	border: 2px solid white;
	border-radius: 8px;
	color: black;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	margin: auto;
}

.requiredfield {
	color: red;
}

.myDataTable {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 40%;
	font-size: 16px;
	font-style: normal;
	color: black;
	table-layout: initial;
	text-align: justify;
	vertical-align: top;
	padding: 5px;
}

.myDataTable th {
	text-align: center;
}

.quizTextfield {
	font-size: 16px;
	color: black;
	width: 150px;
}

.quizQuestionTextfield {
	font-size: 16px;
	color: black;
	width: 400px;
}

.quizIdTextfield {
	font-size: 16px;
	color: black;
	width: 20px;
}

.contractSearchTextfield {
	font-size: 16px;
	color: black;
	width: 100px;
}

.textFieldForm {
	font-size: 16px;
	color: black;
	width: 70%;
}

.bmenu {
	color: #6891A2;
}

.quizFont {
	color: rgb(255, 210, 125);
}

.vertical-line {
	border: 1px solid #6891A2;
	width: 100%;
}

.errorMessage {
	color: red;
	font-weight: bold;
}

.message {
	color: green;
	font-weight: bold;
}

.quiztable {
	color: black;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 80%;
	border: 1px solid black; 
	padding : 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: white;
	font: bold;
	font-size: 16px;
	padding: 8px;
}

.quiztable td, .quiztable th {
  border: 1px solid black;
}

.chart {
    position: relative;
    left: 15%;
    right: 15%;
    transform: translate(0%, 0%);
}

.contractTable {
	color: cfb078;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding : 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: white;
	font: bold;
	font-size: 16px;
	padding: 8px;
}

.contractTable th {
	color: #6891A2;
	border-bottom: 1px solid black;
	font-size: 20px;
}

.usersTable {
	color: cfb078;
	border-collapse: collapse;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: 1px solid black; 
	padding : 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: white;
	font: bold;
	font-size: 16px;
	padding: 8px;
}

.userTable th {
	color: #6891A2;
	border-bottom: 1px solid black;
}

.userTable td, .userTable th {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.borderOnRight {
	border-right: 1px solid black;
}

.registeredUserTable {
	color: cfb078;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-radius: 4px;
	width: 20%;
	border: 1px solid black; 
	padding : 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: white;
	font: bold;
	font-size: 16px;
	padding: 8px;
}

.registeredUserTable td, .registeredUserTable th {
  border: 1px solid black;
}

.countryDropdown {
	font-size: 16px;
	color: black;
	width: 70%;
}

.dropdown {
	font-size: 16px;
	color: black;
	width: auto;
}

.profilpicture {
	border-radius: 50%;
}

.adminProfil {
	border-right: 2px solid black;
	padding-left: 50px;
	padding-right: 50px;
}

.adminName {
	color: #6891A2;
}

.newsTable {
	color: cfb078;
	border-collapse: collapse;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border: 1px solid black;
	border-bottom: 1px solid black;
	padding : 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: white;
	font: bold;
	font-size: 16px;
	padding: 8px;
}

.newsTable th {
	color: #6891A2;
}

.newsTable td, .newsTable th {
  border-bottom: 1px solid black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

textarea {
	resize: none;
}